name: Terraform Lint

on:
  pull_request:
    paths:
      - "infra/**/*.tf"
  push:
    paths:
      - "infra/**/*.tf"

jobs:
  tflint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up tflint
        uses: terraform-linters/setup-tflint@v4
        with:
          tflint_version: v0.60.0
      - name: Run tflint
        run: tflint --chdir=infra
